h1 {
    font-size: 48px;
}
p {
    font-size: 24px;
}
.box {
    width: 100%;
    height: 200px;
    background-color: lightgray;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
}

/* Media Query Android */
@media phone and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .box {
        background-color: lightcoral;
    }
}

/* Media Query Tablet */
@media screen and (min-width: 601px) and (max-width: 878px) {
    body {
        background-color: lightgreen;
    }
    .box{
        background-color: lightgoldenrodyellow;
    }
}

/* Media Query Dekstop and Laptop */
@media screen and (min-width: 879px) {
    body {
        background-color: lightpink;
    }
    .box {
        background-color: lightgrey;
    }
}