* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background: white;
    color: black;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 110px;
    height: 30px;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.search input {

}

.search button {
    
}

.login button {
    
}

.banner {
    background: url();
    text-align: center;
    padding: 10px 20px;
}

.banner img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.banner h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
    color: #333;

}