body {
  margin: 0%;
  padding: 0%;
  font-family: "poppins", sans-serif;
}


main {
  display: flex;
}

/* This is the header section */
h1 {
  margin: 0;
  padding: 15px;
}

header h1 {
  font-size: 70px;
  text-align: center;
  color: white;
  background: radial-gradient(
    circle,
    rgba(179, 179, 179, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  position: sticky;
  font-family: "Times New Roman", Times, serif;
}

/* This is the ordered list section */
.Ordered-List {
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  border-bottom: #fe6347 6px solid;
  margin-left: 200px;
  margin-right: 30px;
  margin-top: 100px;
}

.Ordered-List h2 {
  background: #fe6347;
  text-align: center;
  color: white;
}

.Ordered-List ol {
    list-style-type: decimal;
}
/* This is the unordered list section */
.Unordered-List {
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  border-bottom: #ffb901 6px solid;
  margin-left: 70px;
  margin-right: 30px;
  margin-top: 100px;
}

.Unordered-List h2 {
  background: #ffb901;
  text-align: center;
  color: white;
}

.square {
  list-style-type: square;
  margin-top: 50px;
  font-size: large;
}

.circle {
   list-style-type: circle;
   background: #eeeeee ;
   border-top: 1px solid #ffb901;
   border-bottom: 1px solid #ffb901;
   margin-top: 30px;
   margin-bottom: 30px;
   font-size: large;
}

.disc {
  list-style-type: disc;
  font-size: large;
}

/* This is the description list section */
.Description-List {
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  border-bottom: #01a4ef 6px solid;
  margin-left: 70px;
  margin-right: 200px;
  margin-top: 100px;
}

.Description-List h2 {
  background: #01a4ef;
  text-align: center;
  color: white;
}

.Description-List dt {
  color: red;
  font-weight: bold;
}
