body {
    margin: 0;
    padding: 0;
    display: flex;
}

.vertical-menu {
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 200px;
    background-color: #000080;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    height: 100vh;
}

.vertical-menu li {
    border-bottom: 1px solid #000080;
    display: flex;
}

.vertical-menu li a {
    display: flex;
    padding: 25px;
    margin-left: -20px;
    margin-bottom: 7px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: #000080;
}

.vertical-menu li a:hover {
    background-color: #0000a8;
}