ul.circle {
    list-style-type: circle;
}

ul.square {
    list-style-type: square;
}

ol.upper-roman {
    list-style-type: upper-roman;
}

ol.lower-alpha {
    list-style-type: lower-alpha;
}

ul.remove-list {
    list-style-type: none;
    padding-left: 0;
}

/* Remove default bullets */
.horizontal-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
}

/* Style each menu item */
.horizontal-menu li {
    margin: 0 15px;
}

/* Style link menu */
.horizontal-menu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* Hover effect */
.horizontal-menu li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Remove default bullets  */
.vertical-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px; /* Menu Width */
    background-color: #333;
}

/* Style each menu item */
.vertical-menu li {
    border-bottom: 1px solid #444;
}

/* Style link menu */
.vertical-menu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #333;
}

/* Hover effect */
.vertical-menu li a:hover {
    background-color: #575757;
}

/* list-style-position */
ul.outside {
    list-style-position: outside;
}

ul.inside {
    list-style-position: inside;
}

/* List-Style-Image */
.list-image {
    list-style-image: url(/css/Assets/Image/soft-drink.png);
}

/* List-Style */
.list-style {
    list-style: square inside url(/css/Assets/Image/soft-drink.png);
}

