body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.contant {
    padding: 50px;
    text-align: center;
}

.application {
    position: fixed;
    top: 30%;
    left: 0;
    display: flex;
    flex-direction: column;
}

.buttom {
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 19px;
    text-decoration: none;
    margin-left: 5%;
}

header {
    text-align: center;
}

.button-whatsapp { background: #25D366; }
.button-github { background: black; }
.button-facebook { background: #1877F2; }
.button-tiktok { background: black; }
.button-twiter { background: #1DA1F2; }
.button-plus { background: #FF5722; }
.buttom-linkedin {background: #1877F2;}