h1 {
    color: lightcoral;
    text-align: center  ;
    text-transform: uppercase;
}

#header-2 {
    color: red;
}
#header-3 {
    color: green;
}

#header-4 {
    color: red;
}
#header-5 {
    color: green;
}

#header-6 {
    color: red;
}
#header-7 {
    color: green;
}

#header-8 {
    color: red;
}
#header-9 {
    color: green;
}